
<div class="row">
        <div class="col-6">
                <!-- String Interpolation -->
                <h2 [ngStyle]="{'color': isDisabled ? 'red' : 'green'}"> {{ example }} </h2>
                <br>
                <!-- Event Binding -->
                <!-- Property Binding -->
                <button class="btn btn-primary" 
                        (click)="onClick()" 
                        [disabled]="isDisabled"
                        [ngClass]="{'btn-lg': !isDisabled}"
                        
                >Click Me</button>
        </div>
        <div class="col-6">
                <!-- <div class="input-group mb-3">
                <input type="text" class="form-control" [(ngModel)]="inputString">
                </div>
                <h2>{{ inputString }}</h2> -->

                <div class="input-group mb-3">
                  <input #name type="text" class="form-control" [value]="inputString"  >
                  <button class="btn btn-primary" (click)="onSubmit(name.value)">Submit</button>
                </div>
                <h2>{{ inputString }}</h2>
        </div>
</div>




